#!/bin/bash

[Unit]

Description=webapp
After=cloud-final.service
ConditionPathExists=/opt/webapp

[Service] 

Type=simple 
EnvironmentFile=/etc/environment 
User=csye6225_manav
Group=csye6225_users  
ExecStart=/usr/bin/node /opt/webapp/index.js 
Restart=always
RestartSec=3 
StandardOutput=append:/var/log/webapp.log

[Install]

WantedBy=cloud-init.target