name: GITFLOW-2

on:
  push:
    branches:
      - main 

jobs:
  build-ami:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setting up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Create Environment File
        run: |
          touch .env
          echo "DB_PASSWORD=${{secrets.DB_PASSWORD}}" >> .env
          echo "DB_NAME=${{secrets.DB_NAME}}" >> .env
          echo "DB_USER=${{secrets.DB_USER}}" >> .env
          echo "DB_PORT=${{secrets.DB_PORT}}" >> .env
          echo "DB_HOST=${{secrets.DB_HOST}}" >> .env
          echo "DIALECT=${{secrets.DIALECT}}" >> .env
          echo "DEFAULTUSERPATH=${{secrets.DEFAULTUSERPATH}}" >> .env

      - name: Create user.csv
        run: |
          touch user.csv
          echo "${{secrets.USER_CSV}}" >> user.csv

      - name: Building webapp application artifact 
        if: success()
        run: |
          #Exclude .git files when zipping the webapp
          git clean -xdf
          zip -r webapp.zip .

      - name: Configuring AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Initialize packer configuration
        run: packer init webapp.pkr.hcl

      - name: Build AMI with Packer
        run: packer build webapp.pkr.hcl
        env:
          PKR_VAR_database_pass: ${{secrets.DB_PASSWORD}} 
          PKR_VAR_database_user: ${{secrets.DB_USER}}
          PKR_VAR_database_host: ${{secrets.DB_HOST}} 
          PKR_VAR_aws_region: "${{secrets.AWS_REGION}}"
          PKR_VAR_source_ami: "${{secrets.SOURCE_AMI}}"
          PKR_VAR_subnet_id: "${{secrets.SUBNET_ID}}"
        # env:
        #   PKR_VAR_database: '${{secrets.DB_NAME}}'
        #   PKR_VAR_database_pass: ${{secrets.DB_PASSWORD}} 
        #   PKR_VAR_database_user: ${{secrets.DB_USER}}
        #   PKR_VAR_database_port: ${{secrets.DB_PORT}}
        #   PKR_VAR_database_host: ${{secrets.DATABASE_HOST}} 
        #   DIALECT: ${{secrets.DIALECT}} 
        #   DEFAULTUSERSPATH: '${{secrets.DEFAULTUSERSPATH}}' 
        #   AMI_USER_DEMO: "${{secrets.AMI_USER_DEMO}}" 
        #   PKR_VAR_aws-region: "${{ secrets.AWS_REGION }}"
        #   PKR_VAR_source-ami: "${{ secrets.SOURCE_AMI }}"
        #   # PKR_VAR_ssh-username: "${{ secrets.SSH_USERNAME }}"
        #   PKR_VAR_subnet-id: "${{ secrets.SUBNET_ID }}"
